.Container {
  height: 60px;
}

.Wrapper {
  padding: 10px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
}

.Left {
  font-size: 14px;
  cursor: pointer;
  flex: 1;
  display: flex;
}

.Center {
  flex: 1;
  align-items: center;
}

.Right {
  flex: 1;
  text-align: center;
}

.SearchInput {
  border: 1px solid #000000;
}
