.Main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin: 50px auto;
  padding: 50px;
  gap: 10px;

  h3 {
    color: #161616;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
  }

  .Btn-box {
    // display: flex;
    // justify-content: center;

    button {
      width: 100%;
      height: 55px;
      flex-shrink: 0;
      border-radius: 4.983px;
      background: #161616;

      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 31.662px; /* 175.898% */
    }
  }
}
