* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #282d35;
}

.logo {
  width: 50px;
  margin-left: 2.6rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.7rem;
  letter-spacing: -0.05em;
  text-align: left;
}

.navbar {
  background-color: #21222a;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.site-name {
  color: #61dafb;
  margin-left: 0.73rem;
}

.far-right {
  margin-left: auto;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  color: #deebf8;
  margin-right: 2.7rem;
}

.contents {
  margin-top: 2.7rem;
  position: relative;
  background-image: url(./images/Group.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.contents-header {
  color: #fff;
  font-family: Inter;
  font-size: 39px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.05em;
  text-align: left;
  margin-left: 2.5rem;
}

.list-items {
  margin-left: 1.4rem;
  list-style-type: none;
}

.list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding: 1rem;
}

.list-item::marker {
  content: '\2022';
  color: #61dafb;
  margin-right: 2rem;
  font-size: 2rem;
}
