.Vans-Page {
  h3 {
    color: #161616;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.652px; /* 105.164% */
    margin: 30px 0;
  }

  .Van-Container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;

    a {
      text-decoration: none;
    }
    .Van-contents {
      padding: 20px;
      display: flex;

      width: 100%;

      .Van-Image-container {
        img {
          width: 200px;
          height: 200px;
        }
      }

      .Van-Name-x-price {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;

        h1 {
          color: #161616;
          font-family: Inter;
          font-size: 40px;
          font-style: normal;
          font-weight: 600;
          line-height: 31.662px; /* 158.308% */
        }

        p {
          color: #4d4d4d;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 31.662px; /* 197.885% */
        }
      }
    }
  }
}
