.Main-container {
  margin-top: 20px;

  .Van-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    img {
      width: 200px;
      height: 200px;
    }

    .Van-Details-container {
      p {
        color: #fff;
        padding: 7px;
        border-radius: 5px;
        text-align: center;
      }
    }
  }

  .DetailsNav {
    margin-top: 20px;
  }
}

.simple {
  background-color: #e17654;
}

.luxury {
  background-color: #161616;
}

.rugged {
  background-color: #115e59;
}
