$cta-color: #ffcc8d;

.About-page-container {
  color: #161616;
  font-family: Inter;
  font-style: normal;
  margin-bottom: 2rem;

  .About-hero-image {
    width: 100%;
    margin-bottom: 2rem;
  }

  .About-page-content {
    width: 750px;
    h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 2rem;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 2rem;
    }
  }

  .About-page-cta {
    background-color: $cta-color;
    color: #161616;
    border-radius: 5px;
    width: 750px;
    padding: 32px 37px;

    h2 {
      margin: 0;
      padding-block: 37px;
    }

    .Link-button {
      background-color: #161616;
      color: white;
      border-radius: 10px;
      display: inline-flex;
      padding: 12px 22px 13px 22px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  }
}
