.van-list-container {
  margin-top: 20px;
  padding: 0 33px;

  h1 {
    color: #161616;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.652px; /* 105.164% */
  }

  button {
    cursor: pointer;
  }

  .van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0;

    .van-tile {
      padding: 0 30px;

      a {
        color: #161616;
        text-decoration: none;
      }

      img {
        margin-top: 30px;
        width: 100%;
        border-radius: 8px;
      }

      .van-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          color: #161616;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 31.662px; /* 158.308% */
        }

        p {
          color: #161616;
          text-align: right;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 31.662px; /* 158.308% */
          margin-bottom: 10px;
        }
      }

      i {
        border-radius: 5px;
        width: 85.711px;
        height: 33.886px;
        flex-shrink: 0;
        color: #ffead0;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 31.662px; /* 197.885% */
        padding: 7px 15px;
      }

      .simple {
        background-color: #e17654;
      }

      .luxury {
        background-color: #161616;
      }

      .rugged {
        background-color: #115e59;
      }
    }
  }

  .FilterLinks {
    margin-top: 20px;
    display: flex;
    gap: 10px;

    a {
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
      color: #4d4d4d;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 23.919px; /* 149.496% */
      border-radius: 5px;
      background: #ffead0;
    }

    .simple:hover {
      background-color: #e17654;
      color: #ffead0;
    }

    .luxury:hover {
      background-color: #161616;
      color: #ffead0;
    }

    .rugged:hover {
      background-color: #115e59;
      color: #ffead0;
    }

    .Clear {
      text-decoration: underline;
      background: #fff7ed;
    }
  }
}

.select-simple {
  background-color: #e17654;
  color: #fff;
}

.select-luxury {
  background-color: #161616;
  color: #fff;
}

.select-rugged {
  background-color: #115e59;
  color: #fff;
}
