.Home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url('../.././assets/images/home-hero.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px; /* 116.667% */
    width: 494.333px;
    margin-bottom: 20px;
  }

  p {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    width: 494.333px;
    margin-bottom: 60px;
  }

  .Home-link {
    background: #ff8c38;
    width: 60%;
    display: flex;
    border-radius: 5px;

    a {
      border-radius: 5px;
      padding: 10px 20px;
      width: 100%;
      text-decoration: none;
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 15.946px;
      font-style: normal;
      font-weight: 700;
      line-height: 31.662px; /* 198.552% */
    }
  }
}
