* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
}
.App {
  margin: 0 auto;
  width: 450px;
}

.Nav {
  background-color: #f55a5a;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Nav p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.075em;
  text-align: left;
  color: #fff;
}

.Journal {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}
.Text-container {
  margin-top: 1.5rem;
}

.Location-icon {
  width: 8px;
  height: 10.55px;
}

.Link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}

.Country {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
  padding: 0 3rem 0 1rem;
  text-transform: uppercase;
}

.City {
  font-weight: 700;
  font-size: 2.9rem;
  line-height: 30px;
  color: #2b283a;
  margin-top: 0.5rem;
}

.Date {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 12px;
  color: #2b283a;
  margin: 1rem 0.5rem;
}

.Desc {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 150%;
  color: #2b283a;
}
