* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.Cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.Logo-container {
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 3rem;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.Logo {
  max-width: 100px;
}

.Img-container {
  margin-top: 2.6rem;
  padding: 0 7.8rem;
  display: flex;
  align-items: center;
}

.Img {
  width: 100%;
}

.Heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-left: 3.6rem;
}

.Phrase {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
  width: 320px;
  height: 56px;
  margin-left: 3.6rem;
}

.Cards-container {
  margin-top: 5rem;
  margin-left: 3.6rem;
}

.Card {
  width: 250px;
}

.Card--img {
  width: 100%;
}

.Card--img-container {
  position: relative;
}

.Card-btn {
  position: absolute;
  left: 8px;
  top: 8px;
  padding: 0.8rem 1rem;
  text-align: center;
  color: #000000;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.Card--icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Card--icon-container p {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 110%;
}

.light-text {
  color: #918e9b;
}

.Card-phrase {
  font-style: normal;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 110%;
  color: #222222;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Card-price {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 110%;
  color: #222222;
}

.light-text-2 {
  font-weight: 300;
}
