.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  padding: 26px 106px;

  margin-top: auto;

  footer {
    color: #aaa;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.923px; /* 163.733% */
  }
}
